[2016-04-20 20:28] mcollina opened #1 "Package json"
@davidmarkclements all loggers are flagged as dependencies, not just pino

also the metadata in package.json are not ok, it's missing all the relevant URLs etc..

[2016-04-20 23:28] davidmarkclements commented on #1
Fixed

[2016-04-20 23:28] #1 closed

[2016-06-27 10:53] mcollina opened #2 "support custom pino instance."
Reported as https://github.com/mcollina/express-pino-logger/issues/6.

Depends on https://github.com/mcollina/pino/issues/66

[2016-08-10 14:53] marcbachmann opened #3 "Support custom request id"
I'm already using a request id on req.id (gets set by external load balancer).
This module overwrites that one with an incrementing id, which results in duplicated request ids if I have multiple processes running.

[code]
Do you think that is good enough?

[2016-08-10 17:39] davidmarkclements commented on #3
agreed this is needed - will accept PR :) - currently on low bandwidth - out of curiosity what load balancer does this?

[2016-08-10 18:00] marcbachmann commented on #3
I'll create a pr.

Heroku uses the http header `X-Request-ID`
https://devcenter.heroku.com/articles/http-request-id.

haproxy also supports a unique header
http://cbonte.github.io/haproxy-dconv/configuration-1.5.html#4-unique-id-header

[2016-08-11 19:01] stephenmathieson opened #5 "option to disable headers"
not finding them super useful, and they could contain potentially sensitive information (access tokens, cookies, etc). any way we could add an option to disable writing them to logs?

[2016-08-11 20:38] davidmarkclements commented on #5
So that can be done like so

[code]

That gets rid of header, and also remoteAddress and remotePort

[2016-08-11 20:39] davidmarkclements commented on #5
serializers needs to be added to readme

[2016-08-11 21:04] stephenmathieson commented on #5
perfect, thanks!

[2016-08-11 21:04] #5 closed

[2016-08-15 23:50] srl295 opened #6 "req.emit is not a function"
when using `pino-http` after an error, I get this:

[code]

got this under v4.4.5 also … let me see if i can get a minimal code example

[2016-08-16 07:36] mcollina commented on #6
What a weird issue! That comes straight from core, can you please attach a script to reproduce?

[2016-08-16 07:38] mcollina opened #7 "Add serializers to the README"
see #5

cc @mcdonnelldean

[2016-08-25 12:40] #2 closed

[2016-08-25 12:40] #7 closed

[2016-09-29 13:37] mcollina opened #11 "Use a Symbol to store the id of the request."
As titled. So we will not have to override things, etc.

cc @davidmarkclements @marcbachmann

[2016-09-29 13:42] marcbachmann commented on #11
FYI: In #9 I tried to set it onto `req.log.id` but that didn't work because `req.log` isn't passed to the serializer. Apparently only enumerable properties are available in there.

[2016-10-04 08:13] #3 closed

[2016-10-28 07:49] mcollina opened #13 "use pino-noir to redact cookies"
As titled, probably a good security measure

[2016-11-11 14:35] novemberborn commented on #13
Perhaps Pino should support *combining* serializers with redactors. That is, first call `stdSerializers.res`, then apply any `res.*` redactors to the result. This would require building redactor support into Pino itself.

Redacting cookies from the response seems tricky, since they'll be deep inside the `headers` string. `pino-noir` doesn't let you redact string contents.

[2016-11-11 15:57] davidmarkclements commented on #13
I'd like pino core to remain laser focused on pure logging - I think we can do this without putting redaction in core

Redaction is a subset of serialization, we can look at this as nested serialization - or maybe a chain or serializers.

We own pino-noir, there's no problems extending it to suit this case

If pino-noir accepts a pre-existing serializer object (which we create in pino-http), we ca

[2016-11-11 16:04] novemberborn commented on #13
👍

Yea that sounds like the right approach.

Let me know if I can help.

[2016-11-11 19:50] mcollina commented on #13
@novemberborn go ahead and send PRs :).

[2016-11-12 12:38] novemberborn commented on #13
@mcollina 😄  Let's hope I find some time. I'm using `pino` in a client project but will need to see if dropping in a different library gets the job done more easily for them…

@mcollina what direction do you prefer here? I like the consistency of exposing the headers object, though I haven't checked if one is actually available.

[2016-11-12 13:51] mcollina commented on #13
This one is way faster than anything else :).

I'm missing a bit of context on the headers. Maybe I've coded something in a hurry, I think we should change pino to expose the headers object.
Or at least change this.

[2016-11-12 15:01] davidmarkclements commented on #13
yeah you've summarised the context - we expose _headers which is the raw string, but only for the res serializer - req exposes headers object. If we expose the headers object, implementation for this gets much easier

[2016-11-15 17:39] choif opened #14 "custom logger and genReqId causes undefined in output"
Defining a custom logger and genReqId like below causes a `{ "genReqId": undefined }` key in the output.

`pino-http({
    logger: pino(),
    genReqId: function(req) { ... }
});`

[2016-11-16 08:10] #14 closed

[2016-11-30 18:49] #11 closed

[2016-11-30 18:54] #6 closed

[2017-01-21 15:42] ronag opened #20 "aborted is not always an error"
e.g. for `GET` and `HEAD` it doesn't make sense to log 'aborted' as an error?

[2017-01-21 15:52] mcollina commented on #20
@ronag this is where it is handled: https://github.com/pinojs/pino-http/blob/master/logger.js#L49-L53.

What do you propose? Would you like to send a PR?

[2017-01-22 18:02] ronag commented on #20
I don't think there is a way in NodeJS to differentiate between client and server `aborted`.

[2017-01-22 18:31] mcollina commented on #20
What do you mean?

[2017-01-24 09:51] ronag commented on #20
@mcollina: There are two scenarios where an "aborted" event is emitted.

1. Server aborts due to timeout setting. The current behaviour is correct for this case.
2. The client chooses to abort the request. The current behaviour is confusing for this case. It's not a timeout and it's not an error for `GET` and `HEAD` requests.

[2017-01-24 16:38] davidmarkclements commented on #20
Perhaps we can listen for a `close` event in the for detecting client abort...

Perhaps also veryifing by listening for a `timeout` on the server object for socket server side timeouts

[2017-01-24 16:41] davidmarkclements commented on #20
although we're going to want to handle this in the most performant way of course..

@ronag can you point to a spec doc detailing a 408 not being an error for `GET` and `HEAD` ?

[2017-01-25 09:39] ronag commented on #20
@davidmarkclements: A *client* aborting GET or HEAD is not a server error since they should be side effect free.

[2017-01-25 11:03] ronag commented on #20
regardless of the verb, a client aborting is not a timeout

[2017-01-25 17:36] mcollina commented on #20
@ronag I still do not know yet how to fix this, and what do you propose. Also, #21 was closed.
Would you like to submit a PR with unit tests? You investigated this issue with much more details than us.

[2017-01-26 08:51] ronag commented on #20
@mcollina I don't know yet.

[2017-01-26 10:35] ronag commented on #20
@mcollina #22

[2017-02-01 13:35] #20 closed

[2017-02-02 16:24] stevejhiggs opened #24 "timeouts when using pino-http 2.4 + express under alpine linux"
Apologies for the brevity of this, I'll add more information as I get it but I thought it was a sufficiently worrying issue to raise straightaway.

Setup:

Using pino-http under express running on the alpine-node:7.4.0 docker image in aws.

hit the express endpoint with a lot of traffic and everything starts backing up + memory usage grows continually. Eventually the server just starts returning t

[2017-02-02 16:42] mcollina commented on #24
This is the culprit then: https://github.com/pinojs/pino-http/pull/22.

It should not be related to alpine, and you should be able to reproduce it everywhere if that's the case.

Does reverting back to 2.3 fix the issue?

[2017-02-02 16:47] stevejhiggs commented on #24
yep, 2.3 works fine when I downgraded the package.

It caught us out because we were actually using the express-pino-logger package, which then pulled in pino-http so our deps changed even though the versions were locked.

We've changed to using pino-http directly now and locked in to 2.3. We're also going to switch to yarn to stop sub-deps upgrading on us :)

[2017-02-02 16:49] mcollina commented on #24
Ok, that's definitely the bug then.

cc @ronag

[2017-02-02 17:19] #24 closed

[2017-02-16 16:46] ronag commented on #24
@mcollina: Tried to fix: https://github.com/pinojs/pino-http/pull/26

[2017-04-12 15:52] davidmarkclements opened #29 "support a singleton logger cache?"
no one want's to use multiple loggers - but you tend to want to load middleware in the same place you use it

we export the created pino instance as the `logger` property (e.g. `require('pino-http')().logger`

For a project to use the logger in pieces that are outside of a web framework (e.g. not in a piece of middleware) there's two options for logger reuse - pass the logger into an exported func

[2017-04-12 15:53] davidmarkclements commented on #29
to be emphatic - this would then automatically apply to express-pino-logger and koa-pino-logger

[2017-04-12 16:13] mcollina commented on #29
I'm really really -1 on this, as it does not work well with multiple versions of the same module in the tree.

I'm ok in having a pino-something module that anybody can use to have a singleton logger if they want so.

[2017-04-12 16:52] jsumners commented on #29
That's the point of https://github.com/pinojs/pino-http/blob/9109d5446a9c2cc02ba5b98f3bd345d9c24db61a/logger.js#L80-L88 -- so the user can supply the logger their application was already using.

I am typically instantiating my logger before I get around to setting up the server. Plus, having to get the logger from `pino-http` would significantly complicate configuring the logger.

[2017-04-13 11:53] davidmarkclements commented on #29
Maybe we should have done this differently,
made it so pino-http has to be passed a pino instance
instead of making one for you

This would simplify the pino-http code a little, prevent pino-http pino dep from lagging behind on minors, and encourage the pattern @jsumners is referring to

[2017-04-13 12:11] jsumners commented on #29
I'm fine with that.

[2017-04-13 13:15] mcollina commented on #29
@davidmarkclements why forcing a wrapping when it's not needed? Passing a its own instance is already possible: https://github.com/pinojs/pino-http/blob/master/logger.js#L22

[2017-04-13 13:25] davidmarkclements commented on #29
* avoids multiple versions of the same module (pino) in the tree
* prevents what we're considering as an anti-pattern/encourages a "best practice"
* reduces on-going maintenance overhead on keeping pino up to date in pino-http (and then the cascading effect on express*, koa* (v1 and v2) and .. rill)
* makes configuring the logger less-complicated *by default*

I think decoupling is worth it

[2017-04-13 13:32] mcollina commented on #29
If we have to bump the major for whatever reason, I'm 👍  on this. However, it can wait and we can avoid bumping the major.

[2017-04-13 13:51] jsumners commented on #29
This would be an API change, so a major version bump would be necessary. I think it is the correct way to do it.

[2017-04-13 14:06] davidmarkclements commented on #29
If we we're to do a major version bump I'd also like to support:

[code]

and

[code]

In addition to:

[code]

and

[code]

And probably:

[code]

as well.

[2017-04-13 14:17] mcollina commented on #29
why all the pinoHttp(instance, stream) business?
If you already have a pino instance, why the stream?

[2017-04-13 14:33] davidmarkclements commented on #29
LOL oh yah good point

ok then just `pinoHttp(pinoInstance)`

[2017-04-19 15:49] scott-martin opened #30 "Logging req.user properties"
I would really like to log some properties off of `req.user` which is added in middleware that is after pino-http. It looks like pino-http serializes the `req` object immediately because it creates a child logger with the request object. Would it be possible to postpone serialization of req until the request finishes? Or possibly add another hook that could be used to serialize once the request is

[2017-04-19 17:51] davidmarkclements commented on #30
Yep totally possible -

You need to do two things

1. place the logging middleware beneath the middleware that adds `req.user`
2. pass a custom serializer

[code]

Closing for now, but let me know if that works for you :bowtie:

[2017-04-19 17:51] #30 closed

[2017-04-19 18:02] scott-martin commented on #30
Would this still log the request if the authentication middleware threw an unauthorized exception?

[2017-04-19 18:13] scott-martin commented on #30
Yeah I just verified that it does not in fact log the request if the authentication middleware fails. Here is a workaround that I was able to do to get it working.

[code]

This works because in line 32 of logger.js you can see that pino-http is using the logger object that is defined on `res` to perform the final log.

[2017-04-19 19:32] davidmarkclements commented on #30
hmm that does mean you're creating a child of a child logger, although the perf hit is still probably negligible. Another way is to use a getter:

[code]

If you need Node < 4 use Object.definieProperty instead

The only issue to perf here may be the closure reference, so do benchmark it

[2017-04-21 15:25] scott-martin commented on #30
That's clever. I'll give it a shot. Thanks for the help!

[2017-04-21 16:15] davidmarkclements commented on #30
let me know if it works :bowtie:

[2017-04-22 19:16] yoshuawuyts opened #31 "acknowledgement is missing in the docs"
this leads nowhere at the moment https://github.com/pinojs/pino-http#acknowledgements

[2017-05-01 09:05] #31 closed

[2017-05-01 09:06] mcollina commented on #31
Thanks! Fixed!

[2017-05-26 13:25] brainsiq opened #32 "res headers is unformatted"
Is it possible to format the response headers in the same way request headers appear in the log output?

Currently they appear as:

[code]

Ideally they should be:

[code]

[2017-05-26 17:27] mcollina commented on #32
Yes it is. Unfortunately headers are not stored as object in the `Response`, the best we can do is: https://github.com/pinojs/pino/blob/master/lib/serializers.js#L16. I would restrain from parsing them, as it is expensive.

Since v7.7.0 of Node.js there is `res.getHeaders()`, https://nodejs.org/api/http.html#http_response_getheaders. That replaces `_headers` https://github.com/nodejs/node/blob/mas

[2017-07-25 14:42] GuilhermeMedeiros opened #37 "how to log the req.body?"
I already have my own serializer but req.body is empty.

[2017-07-26 21:29] mcollina commented on #37
the body is parsed after, so it won't be included. You need to put the body-parser before the pino-http middleware, because the serializer is applied to the request when the child logger is created.

I would recommend against including the body in the child logger, but rather log that separately at a lower log level. A body could be **massive**, so you might log tens of megabytes multiple times.

[2017-07-26 21:29] #37 closed

[2017-07-27 07:02] GuilhermeMedeiros commented on #37
yeah that makes sense! thanks!

[2017-08-24 09:48] deadbeef84 opened #38 "Crash when req.connection is undefined/null"
Same issue as pinojs/pino#254.

[2017-08-24 12:26] #38 closed

[2017-08-24 12:26] davidmarkclements commented on #38
thanks @deadbeef84 - now fixed - published as 2.6.2

[2017-10-25 15:53] davidmarkclements opened #40 "route ignoring"
Consider a situation where we log every time for a certain route,
and we're not interested in seeing the request completed for this route
(in particularly I'm thinking about transmitting logs from the browser to the server,
say to a `/logs` route)

I'd like to be able to do

[code]

and maybe even

[code]

It would also be good to be able to do

[code]

This wouldn't remove the req.log method, it

[2017-10-26 07:16] mcollina commented on #40
I do not think it's a great idea. We would need to a router, and then parametric routes, and then wildcards, and then this would become _very_ slow. Let's log everything.

[2017-10-26 20:35] davidmarkclements commented on #40
another approach... if we could dynamically swap out the req serializer the log message from the browser could be injected into the req object instead on request completed to a `/logs` endpoint

[2017-11-09 12:01] adam-26 opened #41 "Add pre-defined development formatter"
Now that pinojs/pino#317 has been merged, add pre-defined formatters for **development**.

[Morgan logger](https://github.com/expressjs/morgan#dev) has a predefined `dev` formatter, which makes adding the logger during development quick and easy. Adding similar functionality to pino-http would be useful.

Not sure about the api? Maybe add a `formatter:` option?

[2017-11-09 12:44] mcollina commented on #41
You can use https://www.npmjs.com/package/pino-colada. Maybe we should link into the README.

[2017-11-16 22:41] gswalden commented on #30
Thanks for the tips above! Here's a very concise way to maintain usage of the default serializer with an additional `user` property.

[code]

[2017-11-17 21:09] davidmarkclements commented on #30
@gswalden

It is indeed more concise, but it wont be anywhere near as fast. `Object.assign` vs returning a new *will* be much slower. I would recommend against that approach

[2017-11-21 14:18] jsumners commented on #13
I suspect this is related https://github.com/pinojs/pino-noir/issues/6

[2017-12-02 22:37] jsumners opened #42 "`req` serializer can generate way too much output"
See https://github.com/pinojs/express-pino-logger/issues/14

[2017-12-04 00:07] resure commented on #42
I've used slightly different approach for dealing with this problem:
- Firstly, I have two serializers:
  - `reqFull` — almost identical to default `req`, but with addition of `req.id`
  - `req` — simplified serializer which prints only request id
- Upon receiving request, app is generating request ID and logging all default req stuff together with that id (using `reqFull` serializer)
- After that

[2017-12-04 13:33] davidmarkclements commented on #42
@resure that's really nice - thanks for the insight

First we need to fix the over-logging issue, but having a full request and id only serializers bundled
with pino-http (et. al.) could be a really nice addition, something we could recommend in the documentation as a useful pattern – PR welcome @resure (although I'm probably going to quibble over naming things when you do)

[2017-12-08 19:02] #42 closed

[2018-03-05 16:16] bard opened #47 "Cannot serialize custom req values"
I would expect that:

[code]

...would log `req.customValue`, if such a property is set on `req`. But it doesn't. Minimal test case:

[code]

Then:

[code]

...causes the following log output:

[code]

Versions: pino-http 3.2.0 (also happening on 3.1.0)

[2018-03-05 16:19] davidmarkclements commented on #47
could you try it without the `prettyPrint` option

[2018-03-05 16:27] cwillwer commented on #47
Likewise, I just installed pino-http 3.2.0, am using it without any options, and considering it is used after body-parser, I would expect that POST operations would have their body logged, but they aren't.

Example code:
[code]

Whether or not this is the same issue (I _feels_ like it might be), I do need to find out how to get the body of POST operations logged since the logger is kind of pointle

[2018-03-05 16:44] davidmarkclements commented on #47
@cwillwer no, if you want to log the body you use a custom serializer.
The pino philosphy is lightweight, batteries not included.

[2018-03-05 16:45] mcollina commented on #47
I would note that logging the body is a very bad practice, as those can be quite big. If this is important for a specific route, you should log it yourself.

[2018-03-05 21:29] bard commented on #47
@davidmarkclements same outcome

[2018-03-06 09:33] mcollina commented on #47
[code]

@jsumners we need to document the use of `req.raw` here too (https://github.com/pinojs/pino-std-serializers#exportsreqrequest).

[2018-03-06 10:24] bard commented on #47
@mcollina That did the trick. Grazie!

[2018-03-06 13:23] jsumners commented on #47
@mcollina isn't it already documented? It specifically states that `raw` is present solely for usage by custom serializers.

[2018-03-06 13:34] mcollina commented on #47
The README of this repo should mention it as well.

[2018-03-06 13:39] #47 closed

[2018-03-14 07:37] bard commented on #47
Should the README say:

[code]

Or:

[code]

?

[2018-03-14 09:18] davidmarkclements commented on #47
.. I'm unclear as to why this would be ambiguous.. unless there's been an API change I've missed it's quite definitely the latter - why is the readme wrong?

[2018-03-14 10:57] jsumners commented on #47
Because I did it wrong. @bard would you like to send a PR?

[2018-03-14 22:56] bard commented on #47
Sure, will do soon.

On Wed, Mar 14, 2018, 11:57 James Sumners <notifications@github.com> wrote:

[2018-05-04 20:08] jackwilsdon opened #51 "TypeScript type definitions?"
I've started working on some definitions but haven't had a chance (and don't have the knowledge) to finish them. They're mostly cobbled together from pino's types and `logger.js` here.

[code]

[2018-05-04 23:32] mcollina commented on #51
would you like to send them to @types?We do not maintain typescript definitions in pino.

[2018-05-05 13:43] davidmarkclements commented on #51
This convo keeps reoccurring - if we don't already have (up to date) definitions on @types we'd definitely receive PR's on signposting to @types to avoid duplicate effort when typescripters think they are none

[2018-05-05 20:55] #51 closed

[2018-05-21 14:14] joakimbeng commented on #30
If someone (like me) finds this the "getter solution" from above does not work, because I think the `req` object is serialized at an earlier stage than when `req.user` (or `req.raw.user`) is available.
So the solution is instead to add a getter to the `res` serialization like this:

[code]

[2018-09-23 18:01] niftylettuce opened #53 "Add support for other loggers"
In development mode, other loggers such as `signale` and `consola` are extremely useful for being developer-friendly and easy on the eyes.

Might we be able to patch https://github.com/pinojs/pino-http/blob/master/logger.js#L76-L77 such that if no `.child` method is available on the `prevLogger`, it simply re-uses `prevLogger` to do the logging?

[2018-09-24 09:02] niftylettuce opened #54 "`res.on` should be `res.once`"
<https://github.com/pinojs/pino-http/blob/master/logger.js#L59-L60>

[2018-09-24 09:05] mcollina commented on #54
No it shouldn’t. We are calling removeListener as the first thing in the event handler

[2018-09-24 09:05] #54 closed

[2018-09-24 09:54] niftylettuce commented on #54
I meant in the sense of just best practice, if just one time then `once` is
preferred, no?  Unless there is some perf thing I don't know about?  Either
way fine as is, agreed.

On Mon, Sep 24, 2018, 4:05 AM Matteo Collina <notifications@github.com>
wrote:

[2018-09-24 11:59] mcollina commented on #53
I think it would be out of scope here. However, we might want to do a pino-signale module similar to how pino-pretty works.

[2018-09-24 22:36] mcollina commented on #54
` once` does an `on`  and `removeListener`. We have to call `removeListener` anyway because we don't know which event fires, and doing it only once saves a few CPU cycles.

[2018-09-24 22:52] niftylettuce commented on #54
@mcollina good to know, thank you

[2018-10-25 12:47] renarsvilnis commented on #42
@resure  Sorry to resurrect the old thread, but how did you in code achieve two req (`reqFull`, `req`) serializers?

I'm trying to achieve the same result, as I find it overkill to include the same request for each child log. Request id is just enough for debugging.

[2018-10-31 01:55] munozu opened #55 "Support for customLevels, and useCustomLevels?"
Currently using `pino-http@^4.0.0` as express middleware

[code]

https://github.com/pinojs/pino/blob/master/docs/api.md#useonlycustomlevels-boolean
[code]

[2018-10-31 08:35] mcollina commented on #55
Of course, it can't find the level `error` as `useOnlyCustomLevels`  is set to `true`. It is the exact meaning of that option.

What behavior would you expect here?

[2018-10-31 22:46] munozu commented on #55
I figured it out, was wrong on my end 😅thanks for the quick response!

[2018-10-31 22:46] #55 closed

[2018-11-25 13:09] morriq opened #58 "How to use it with stream?"
Hello

1.
[code]

it still stdout http logs, but error correctly are saved to logs file.

2.
I would prefer to split logs on http logs and application logs. Is it possible?
Something like

[code]

In your implementation I see it's not possible?

[code]

[2018-11-28 21:32] #58 closed

[2019-02-27 16:47] OliverJAsh opened #59 "Docs: `req.id`"
This module reads from `req.id`:

https://github.com/pinojs/pino-http/blob/ef7b7e4fdfad2d914597b622a428b375ed15b563/logger.js#L98

However this property doesn't seem to be documented anywhere. It's not something provided by Express, for example.

Could we add some docs to specify what this is for and how to use it along with this module? I suspect it can be used like this:

[code]

Then Pino will

[2019-02-27 17:34] mcollina commented on #59
Feel free to send a PR with the docs, it would be handy!

[2019-03-13 14:48] broom9 opened #60 "Too verbose for development?"
The multiple-line logs in console feel a bit verbose during development. Is there an easy (less custom code) way to output a simple one-line log for each request similar as Morgan?

I realized pino-toke is built for that. But it is also meant to be a CLI tool. We already need to pipe the output to pino-pretty. How do you suggest to use pino-pretty and pino-toke together?

[2019-03-13 14:50] mcollina commented on #60
I don't understand. Why you would need pin-pretty if you are using pino-toke?

[2019-03-13 14:57] broom9 commented on #60
Thanks for the quick reply. I was probably not clear.

In a typical Express-based web app, we could have http logs from express-pino-logger and app logs from calling logger.debug/info/warn/error method from pino.

During development, we would like to pretty print http logs so that each req only generates one line of log (which looks like need to be done by pino-toke), and also pretty print app log

[2019-03-13 15:08] mcollina commented on #60
That use case is not currently supported :/.

[2019-03-27 15:29] laurentgoudet opened #61 "Wrong stack trace on request errors (Express)"
I have an Express app with a catch-all error handler as per the [Express docs](https://expressjs.com/en/guide/error-handling.html):

[code]

However, the above code logs the error fine:

[code]

But the request log itself has the wrong level (info?) & stack trace:

[code]

Is this the expected behavior? Removing the custom error handler doesn't fix the problem, Express then does log the correct er

[2019-03-27 15:34] mcollina commented on #61
According to what you are saying, we shouldn't create a new error in https://github.com/pinojs/pino-http/blob/master/logger.js#L48. I agree! would you like to send a PR?

[2019-03-27 19:41] laurentgoudet commented on #61
That would just remove the error from the request log though? I would expect a request error log to both have a level of `error` (e.g., to filter them in Kibana) and to contain the necessary information (e.g. a stack trace) to identified what caused the request to fail. Is there a way to achieve that?

[2019-03-27 21:29] laurentgoudet commented on #61
Actually looking into the logger's code setting the error onto the response object does the trick, not sure if it's part of the official API though:

[code]

As as the log level, `customLogLevel` fills that need already, i.e.:

[code]

[2019-03-28 07:38] mcollina commented on #61
That’s part of the API interface.

[2019-03-28 10:54] laurentgoudet commented on #61
Cool, closing. Thanks for the help!

[2019-03-28 10:54] #61 closed

[2019-03-28 18:34] davidmarkclements commented on #60
on a side note you might want to checkout http://npm.im/pino-colada

[2019-04-11 10:12] kyrisu commented on #30
The "getter solution" does not work because `req` is already serialized when passed to the custom serializer. We need to use the raw request (`req.raw`):
[code]
This also applies to the `connection` property which is already mapped to `remoteAddress` and `remotePort` keys.

[2019-05-05 16:50] sweepyoface opened #63 "Pass response object to request ID generator"
With TypeScript and Koa, I have no good way to add a property to the request object. This means I cannot use the same ID I'm sending to the user for the generator.

[2019-05-09 06:13] BrendanBall opened #64 "Pino Http not working with cls-proxify"
Hi, I'm trying to setup logging with pino and cls-proxify (and express), but pino http seems to lose the bindings somehow. When setting up my own middleware, the bindings appear in the logs e.g
[code]
But pino http logs don't contain the bindings.

Do you expect this library to work with cls-proxify?

[2019-05-09 06:21] mcollina commented on #64
You should open the issue on cls-proxify.

[2019-05-09 06:21] #64 closed

[2019-05-11 13:42] mcollina commented on #63
I don’t really understand the issue. In typescript, you can extend the types and add your own properties if you need to.

[2019-06-13 18:20] niftylettuce opened #65 "Expose `req._startAt` and `req._startTime` to be similar to morgan"
<https://github.com/expressjs/morgan/blob/master/index.js#L500-L508>

[2019-06-13 18:21] niftylettuce commented on #65
Also <https://github.com/pinojs/pino-http/blob/master/logger.js#L63> could probably be changed so that it also sets `req[startTime]`.

[2019-06-13 18:24] niftylettuce commented on #65
The reason I need this is because I want record the time the request was received in a log, and this is the easiest approach, since this is a timer that starts and is also the same timer used for calculation of response time.

[2019-06-13 18:28] davidmarkclements commented on #65
Since we're modifying req objects we wanted to be as least invasive as possible we use a symbol because it's  "more private".

The `startTime` symbol is exposed: https://github.com/pinojs/pino-http/blob/master/logger.js#L108 would that be enough to work with your end?

[2019-06-13 18:30] niftylettuce commented on #65
This would require me to require the package and install it in my log parser, which I really didn't want to do, since the log parser I'm writing is a library to be published in npm.

[2019-06-13 18:32] niftylettuce commented on #65
Prefixing with an underscore as morgan does is probably sufficient enough.

[2019-06-13 18:37] davidmarkclements commented on #65
We could expose it using `Symbol.for`, and then you can use `Symbol.for('pino-http.startTime')`

That way you don't have to require the package, and we don't have add more noise to the req/res objects. I'd be happy to accept a PR for altering to `Symbol.for`

[2019-06-13 22:55] niftylettuce opened #66 "Add support for request-received middleware"
The `request-received` middleware at https://github.com/cabinjs/request-received exposes a `Symbol.for` property, which this package could conditionally consume if interested (as opposed to just generating a `new Date()`.

e.g. https://github.com/pinojs/pino-http/blob/master/logger.js#L63 would change as follows:

[code]

Ref: #65

[2019-06-13 22:57] niftylettuce commented on #65
Closing in favor of #66 and #67

[2019-06-13 22:57] #65 closed

[2019-06-13 22:58] niftylettuce commented on #66
PR #67 opened

[2019-07-25 11:56] AndyOGo opened #68 "support reuse of X-Request-ID header for req.id"
I would be awesome to be able to track daisy-chains by supporting the custom `X-Request-Id` HTTP header, similar to: https://www.npmjs.com/package/express-request-id

[2019-07-25 11:59] AndyOGo commented on #68
never mind, just saw that `req.id` generation is conditional

[2019-07-25 11:59] #68 closed

[2019-08-12 17:52] jdforsythe opened #69 "Add option to disable automatic request logging"
There should be an option to disable the automatic request logging - i.e. "request finished" and "request errored" - as we want to customize the output. Currently we get two logs, our custom and the automatic logging.

[2019-08-13 09:03] mcollina commented on #69
Would you like to send a PR?

[2019-08-13 13:30] jdforsythe commented on #69
@mcollina PR submitted #70

[2019-10-16 22:35] abarriel opened #72 "autoLogging to false doesn't trigger anything"
Hey!

When I set autoLogging to false, It doesn't show any logs, even my custom serialize logs
[code]
Thank you :)

[2019-10-17 16:14] abarriel commented on #72
@mcollina

Thank you, here
[code]

[code]

[2019-10-19 21:58] mcollina commented on #72
`serializers` are executed to compute the object to print in the logs, not when something happens. You should call the logger yourself with `autoLogging: false`, e.g. `req.log.info(‘hello world’)`.

Check out the docs for serializers in http://getpino.io/#/docs/api?id=serializers-object

[2019-10-19 21:58] #72 closed

[2019-11-21 01:08] taylorjdawson opened #73 "Add option for custom logging format"
Using the serializers I can customize what get's logged. However, I do not have control over the logging format. For example, I would like to log like so:
[code]
Essentially it would mean removing the object with `res` & `err` [here](https://github.com/pinojs/pino-http/blob/a7c82bc2d82847ba6692b20de1e7d2b65c4a1624/logger.js#L49-L60) in `logger.js`:
[code]

...allowing the user to decide how to for

[2019-11-21 08:20] mcollina commented on #73
I'm -1 in removing the lines from pino-http for _formatting_ reasons. I'm happy to review a PR that make things more flexible here.

[2019-11-21 17:24] taylorjdawson commented on #73
Okay I did some digging and I think what I am looking for is something like [this](https://github.com/pinojs/pino-http-print/blob/master/index.js). I think it would be possible by using the stream like you did to manipulate the logging format. Is that true? If so I guess it wouldn't apply to the `pino-http` module.

[2019-11-26 12:32] GuskiS opened #74 "this.log should be replaced with req.log"
I tried this:
[code]
but it didn't work. After digging into sourcecode I found this:
https://github.com/pinojs/pino-http/blob/a7c82bc2d82847ba6692b20de1e7d2b65c4a1624/logger.js#L44

`this` refers to `res` object, so that would mean `res.log`. After changing that code, `something` appeared in my output.

This is very misleading since all examples suggest to use `req.log`. Also there isn't `res.log`

[2019-11-27 09:24] mcollina commented on #74
Can you add an example to reproduce the problem you are facing?

[2019-11-27 12:16] GuskiS commented on #74
I have something like this:
[code]

`req.log.info("some message")` will have `something: true` in its output, however, the `request completed` will not have it, because that one relays on `res`.

[2019-11-27 16:32] davidmarkclements commented on #74
if you're always binding the same value, this isn't a good pattern, instead do

[code]

[2019-11-27 16:33] davidmarkclements commented on #74
injecting values on a per request basis use the serializers

[2019-11-27 20:11] GuskiS commented on #74
Value changes per request. I tried setting that value on `req` object, however that didn't show up in serializers from `req.raw`.

[2019-11-29 08:19] mcollina commented on #74
I think it would be helpful to have a full example of what you are trying to do.

[2019-11-29 08:59] GuskiS commented on #74
https://github.com/pinojs/pino-http/issues/74#issuecomment-559063426
This is almost the same thing as I'm doing, but here goes:
1.
[code]

2.
[code]
Route:
[code]

So the issues I'm facing:
1. I would need to do `req.log = res.log = res.log.child({ originalRoute });` to make it work, which is misleading and not obvious if you don't take a look at sourcecode. Also, as suggested, not a good pattern.

[2019-11-29 09:08] mcollina commented on #74
May I get a _full_ example that I can run? Ideally without express (or maybe this is express-only).

[2019-11-29 09:49] GuskiS commented on #74
Here it is: https://github.com/GuskiS/pino-express-failure

[2019-11-29 16:10] mcollina commented on #74
Child serializes the request object once at the time the log line is created. In order for that property to show up, you'd have to add it in a middleware _before_ the pino-http one.

 I do not think there is any other way than `req.log = res.log = res.log.child({ originalRoute });` tbh.
You could potentially disable `autoLogging` and log _after_ you have set that value.

[2019-12-09 17:08] waynebloss commented on #73
I'd like this option as well.

The suggested `11.11.111.111 - GET /url/path - Status Code: 200` format would be preferred in any configuration instead of the default `request completed` message, however i'd also add an option to remove details of `req` and `res` unless I opt into getting them for specific endpoints.

This code looks easy enough to fork though, so I won't wait around too long for i

[2019-12-09 17:32] waynebloss commented on #73
I couldn't get `pino-http-print` to work at all.

Attempt 1:

[code]

Attempt 2:

[code]

Attempt 3:

[code]

Anyway, this is probably the wrong place for this comment but instead of starting new issues that I don't really care about I figured I'd just leave it here, fork `pino-http` and do what I want just for my own projects.

This seems like a really good logger but it's just too bad that I hav

[2020-02-14 11:38] amit12cool opened #78 "genReqId() to be exposed in code"
Currently, genReqId() is called when the request comes in. We need genReqId() to be called when an event comes in lets say from Event Hub. Is this supported?

[2020-02-14 11:47] mcollina commented on #78
I don't understand your question. Would you like to call https://github.com/pinojs/pino-http/blob/e302611b62f7addac252353599f39fe2e4c9dfb1/logger.js#L98-L105 manually?

[2020-02-14 11:53] amit12cool commented on #78
Somewhat yes. Right now, genReqId is called automatically on each request, but for events genReqId is not called. My goal is that for each event the unique reqId is generated.

[2020-02-14 11:59] mcollina commented on #78
This is pino-http and it's supposed to be used with http servers, I don't understand how you are using this module with "events".

[2020-02-14 12:03] amit12cool commented on #78
The whole picture is like this:-

Using nestjs-pino which uses pino-http as its dependency. The server is built with nestjs using express framework. For server requests everything works as expected and geReqId is called perfectly.

Now for events coming in are the ones which cannot be tracked using requestId. Is there any way this can be done?

From: Matteo Collina<mailto:notifications@github.com>

[2020-02-14 12:32] mcollina commented on #78
how are those events coming in?
Il 14 feb 2020, 13:03 +0100, amit12cool <notifications@github.com>, ha scritto:

[2020-02-14 13:24] amit12cool commented on #78
They are coming in from Azure Event hub.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Matteo Collina <notifications@github.com>
Sent: Friday, February 14, 2020 6:02:57 PM
To: pinojs/pino-http <pino-http@noreply.github.com>
Cc: amit12cool <amit.dhawan@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [pinojs/pino-

[2020-02-14 13:27] mcollina commented on #78
It would be good to see a snippet, otherwise it won't be possible to help you.

[2020-02-14 13:33] amit12cool commented on #78
[code]

The above code listens to the event from event hub. Now, do some other business logic processing on receive of event and in the course log some data in which i want to log the request id too. Long story short, the event received for me is like a request coming in.

[2020-02-14 14:00] mcollina commented on #78
[code]

[2020-02-14 14:00] #78 closed

[2020-02-16 13:28] rohit-gohri commented on #73
An update was released for `pino-http-print` right after this that added some options, I suggest you check it out again.

The difference is that the `pino-http-print` module returns a factory instead of a print stream directly. So you have to call it again to get a stream.

My current setup:

[code]

Output:

[code]

[2020-02-16 15:47] davidmarkclements commented on #73
@waynebloss to be clear, there is a much simpler pattern for this http://getpino.io/#/docs/pretty?id=pretty-printing

you pipe the JSON output to a prettifer, that's it.

[2020-02-16 17:52] rohit-gohri commented on #73
`pino-http-print` also works as a [command](https://github.com/pinojs/pino-http-print#cli). Equivalent example would be:

`node index.js | pino-http-print -a -r -t 'SYS:standard'`

with the below `index.js` file.

[code]

Though setting up pino with a prettifier conditionally in dev environment is also pretty convenient.

@davidmarkclements Would a [pino-http-print](https://github.com/pinojs/pino-

[2020-02-16 18:55] davidmarkclements commented on #73
absolutely, PR's to pino docs is always welcome

On Sun, Feb 16, 2020 at 6:52 PM Rohit Gohri <notifications@github.com>
wrote:

[2020-03-10 03:52] sdavids opened #79 "customLogLevel does not support 'silent'"
https://github.com/pinojs/pino/blob/HEAD/docs/api.md#level-string
https://www.npmjs.com/package/express-pino-logger#api

[code]

Will lead to:

[code]

Currently, there is no way to prevent requests having a specific status code from being logged.

[2020-03-10 14:58] mcollina commented on #79
Would you like to send a PR? I think we should just add a `pino.silent()` that's just an empty function.

[2020-03-16 10:36] mcollina opened #81 "rewrite all tests to avoid timers"
Timers are known to cause flaky test. It's important we fix this before it hit us.

[2020-03-19 12:28] fiznool opened #82 "Support custom serializer for auto logging?"
Apologies if I've missed something here.

When using the `autoLogging` feature, I get a huge amount of information logged, as the autologger [logs everything in the `res` object by default](https://github.com/pinojs/pino-http/blob/master/logger.js#L58-L61). In my case, `res` contains a `_req` property, which in turn contains the entirety of the request object, including sensitive information (for

[2020-03-19 14:51] fiznool commented on #82
Apologies, I am using a `nestedKey` and fell foul of https://github.com/pinojs/pino/issues/771 - once I added a set of custom serializers as described [in this comment](https://github.com/pinojs/pino/issues/771#issuecomment-592537190), all works fine.

[2020-03-19 14:51] #82 closed

[2020-03-19 15:40] mcollina commented on #82
It would be awesome if you'd like to send some PRs to improve the docs of this module (or pino) to help other avoid your mistake.

[2020-03-22 09:00] baterson commented on #79
@mcollina Hello! I opened a PR which solves this issue https://github.com/pinojs/pino-http/pull/84 .
I hope I understood correctly how you wanted to solve it.

[2020-03-25 11:24] baterson commented on #81
Hello I would like to take this Issue. You want to rewrite all tests with `setTimeout` calls but not all of the tests? If so I have one question.
In the case of this test:
[code]
I can rewrite it in this manner:
[code]

But what about tests like this one when you need to wait some time to be ensure that nothing was logged
[code]
Could you give a tip on how to handle those cases with timeout please

[2020-03-25 19:26] mcollina commented on #81
You can call `t.fail()` in case the something is logged: in that case an error will fail the full suite instead.

[2020-03-31 09:11] CalumDickson opened #87 "Provide custom names for req/res log attributes."
Hi pino-http team,

This middleware is perfect for our product, however due to an agreed logging standard within our organisation, we need to rename `req` and `res` to `httpReq` and `httpRes` within our logs.

We've managed to hack around the issue by mutating the log message after the fact. However, it would be far cleaner if we could control these currently hard-coded attribute names with config

[2020-03-31 09:25] mcollina commented on #87
Sure thing, send a PR

[2020-04-02 13:52] mcollina opened #89 "Update to pino v6"
as titled

[2020-04-02 13:53] mcollina commented on #87
done in v4.5.0.

[2020-04-02 13:53] #87 closed

[2020-04-02 13:53] mcollina opened #90 "Bump dependencies and drop old node.js versions"
As titled

[2020-04-02 13:54] mcollina opened #91 "Migrate to Github Actions"
As titled

[2020-04-09 15:46] wanglong167 opened #93 "log not output on timeout"
log not output on timeout

[2020-04-09 15:48] wanglong167 commented on #93
Client abort is   an info

[2020-04-09 19:44] mcollina commented on #93
Can you please add an example to reproduce your problem? Thanks

[2020-04-13 06:43] wanglong167 commented on #93
[code]
Browser open http://localhost:3000/timeout

![image](https://user-images.githubusercontent.com/456516/79098666-0ecaeb00-7d95-11ea-80c0-ca6ff2eaadb8.png)
morgan  log ok
pino  null

[2020-04-13 06:45] wanglong167 commented on #93
Client abort is an info

[2020-04-13 19:28] akaNightmare opened #94 "Make req.id configurable"
Now, `req.id` https://github.com/pinojs/pino-http/blob/master/logger.js#L86 is static, it would be great if `id` property will be configurable.

Thanks.

[2020-04-13 19:47] mcollina commented on #94
Sure, would you like to send a PR?

[2020-04-15 14:09] wanglong167 commented on #93
@mcollina

[2020-04-15 15:48] mcollina commented on #93
I don't really understand what you expect and what you'd like to happen.

[2020-04-15 15:49] #93 closed

[2020-04-18 14:04] richardscarrott opened #95 "Ignores custom serializers on `opts.logger`"
I have a global `logger` which is used throughout my application with a custom `err` serializer.

This middleware [appears to always override it](https://github.com/pinojs/pino-http/blob/master/logger.js#L29) when passing in my logger which is quite unexpected, e.g.

[code]

[2020-04-18 14:19] mcollina commented on #95
Would you like to send a PR? I’m ok in having an option to control this.

[2020-04-18 14:38] richardscarrott commented on #95
Yes can do, are you happy with an option to just avoid this [entire block](https://github.com/pinojs/pino-http/blob/master/logger.js#L23-L29)?

Relatedly, when trying to workaround the issue I ran into some unfortunate behaviour as a result of this middleware mutating the serializers option object, e.g.

[code]

I could avoid this by cloning the serializer object beforehand as it's only run on sta

[2020-04-20 13:07] baterson commented on #94
@mcollina I'd happy to take this issue

[2020-04-20 13:27] #95 closed

[2020-04-20 19:26] joelmukuthu opened #97 "Package.json showing version v4.5.0"
Hi @mcollina, it seems like you might have forgotten to push the v5 release commit :)

The tag v5.0.0 exists but not the commit to master.

[2020-04-20 21:26] mcollina commented on #97
I force pushed the change

[2020-04-20 21:26] #97 closed

[2020-04-20 23:40] mcollina commented on #94
nice!

[2020-04-21 15:00] Kampfmoehre commented on #94
Could you make it so, that the ID can be a field outside of the req object?
Our use case shortly explained:
We use pino http in a express backend along with other non-http connections. Those non-http connections are mostly started through an http request, so we add the generated ID to the transferred objects and they appear in logs in the receiving backends. But as those are not http related, they

[2020-04-22 16:20] baterson commented on #94
@mcollina I just realized that we don't need to do any changes to the codebase. Users can just use the custom serializers if they want to change the shape of the `req` object.

@akaNightmare try this approach

[code]

@Kampfmoehre  I don't think it's reasonable, you can always add your own Id along with the log message.

@mcollina what do you say? The issue could be closed?

[2020-04-22 18:58] mcollina commented on #94
Yes, it can be closed.

[2020-04-22 18:58] #94 closed

[2020-05-19 14:21] gtamas opened #101 "How to call this manually?"
I have a Koa middleware. In that I create a http-logger instance like so:

[code]

Now, this works fine if autoLogging=true.
When it's false, however, calling ctx.log.info(...)  produces a standard pino log entry, without request ./ response and the other fields.

I would like to execute the HTTP logger manually, so it logs only when I need it. How can I do that?

[2020-05-19 15:18] gtamas commented on #101
OK figured out that I actually called the wrong method... never mind,

But

Calling **req**.log.info(...) results in the request data being logged, but calling **res**.log.info() does not add the response data. Like the previous one, it logs request data!

So in both cases, I get this:

`{"level":30,"time":1589901106757,"pid":31326,"hostname":"some","req":{"PID":"0e7424e0-99e3-11ea-ac46-5175f0f829

[2020-05-19 16:19] mcollina commented on #101
You should not be logging the response. It often contains personal information and logging them would violate GDPR and other things.

If you want to do so anyway, you should cange the `res` serializer.

[code]

[2020-05-19 16:19] #101 closed

[2020-05-22 01:53] samjeyam opened #102 "Property to be logged per request level but outside req"
Is there a way to log something outside the `req`  but within the request Serializer.

[code]

I have a requirement where I would like to log something like this

[code]

Btw, `mixin` doesn't help my use-case where it's pretty static for all requests and not per request.

[2020-05-22 06:30] mcollina commented on #102
Unfortunately there is not. However we could potentially add something here to intercept where a child logger is created. In that case, you might be able to add properties to the child logger.

[2020-05-22 07:40] Jeff-Tian commented on #37
Can you share an example of how to log them in **lower log level**?

[2020-05-22 07:58] mcollina commented on #37
wherever in your code/middleware, do `req.log.debug({ body: req.body })`

[2020-05-22 19:24] samjeyam commented on #102
Pls review https://github.com/pinojs/pino-http/pull/103 if that make sense.

[2020-05-25 14:41] samjeyam commented on #102
This can be closed now.
v5.2.0 now has this feature.

thank you @mcollina

[2020-05-25 14:41] #102 closed

[2020-06-02 14:44] twelve17 commented on #30
@joakimbeng

Thanks, this solution worked for me. But it seems indicative of a problem with pino-http.  I'm not 100% sure of this, but it seems the reason this works is that the autologger uses `this` to get access to the `res`, which in turn has access to the `req` available to the middleware *issuing the log request*, as opposed to the request serializer, which seems to use a `req` available at

[2020-06-04 14:19] maricn commented on #37
@mcollina Is there a way to set it up so that request body is logged in the `req` object every time log level lower than `INFO` is used?

I've seen we can use this to add it to req object:
[code]
But that will be used for any log level invocation of logger.

And in case we want to specify that per-invocation, we can't put it in the context in the `req` object because it will overwrite it.

[2020-06-04 14:20] mcollina commented on #37
You’d need to write some custom code for that :/

[2020-07-10 13:06] giacomorebonato opened #105 "Disable output when NODE_ENV === 'test'"
Hi, I am trying to disable output when running tests with the code below:

[code]

With the code above the log for requests is still present in the output, while the other log lines are correctly hidden.
I am writing integration tests for an Express server that is started by the test.

Am I missing something or is it something that I could take a look on?

[2020-07-10 20:30] mcollina commented on #105
I'm not sure we support an `enabled` property. You can set the level to `silent` for unsupported envs.

[2020-07-12 10:40] giacomorebonato commented on #105
OK, that works too. Thanks.

[2020-07-12 10:40] #105 closed

[2020-07-28 20:01] iandrc commented on #89
@mcollina

This one was fixed by https://github.com/pinojs/pino-http/pull/92/

[2020-07-28 20:05] iandrc commented on #79
@mcollina I guess this one was fixed by https://github.com/pinojs/pino/pull/802

[2020-07-28 20:40] #79 closed

[2020-07-28 20:40] #89 closed

[2020-07-28 20:49] iandrc commented on #90
@mcollina
You've fixed it by #92 as well. Could be closed

[2020-07-28 21:21] #90 closed

[2020-08-18 19:20] naseemkullah opened #107 "feat request: autologging ignore user agent"
the ignore path option is great for health check paths, sometimes external probes actually probe production paths used to serve traffic to users, in these cases it would be nice to ignore 200s based on user agent

[2020-08-19 08:00] mcollina commented on #107
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-08-20 03:41] naseemkullah commented on #107
In fact, customLogLevel suits our needs, we will simply decrease log level of 2xx to debug as follows:

[code]

[2020-08-25 09:11] kmetsalu opened #108 "Custom serializers not respected."
### Environment:
pino-http: 5.2.0
pino: 8.3.2

### Config:

[code]

I still get headers in the log. With pino 6.5.1 it seemed to work. What could be the problem.

[2020-08-25 11:06] mcollina commented on #108
Can you please include a full example?

[2020-08-25 11:35] kmetsalu commented on #108
Ok. By making an example got it working. It seems I called 2 differently configured requestLogger's in different route files and later one took priority and did not have this headers deletion.

Full working example is given below.
[code]

[2020-08-25 11:48] #108 closed

[2020-09-05 21:19] gkampitakis commented on #91
Can I give it a try ? From what I ve seen your travis CI pipeline just runs test on merge and pr right ?
I am not really sure though about this:
[code]

[2020-09-05 21:36] mcollina commented on #91
Nothing, go for it.

[2020-09-06 09:24] #91 closed

[2020-09-29 19:48] Hongbo-Miao opened #112 "node-spdy's HTTP/2 (https) support"
Thanks for the awesome package!

It works on `http`, but currently does not log anything when using HTTP/2 by [node-spdy](https://github.com/spdy-http2/node-spdy).

[2020-09-30 06:37] mcollina commented on #112
SPDY is not supported.

[2020-10-01 16:55] Hongbo-Miao commented on #112
Thanks for confirming @mcollina !
It would be great to have support, but definitely low priorty : )
Because when I switched from [winston](https://github.com/winstonjs/winston) and [Cabin](https://github.com/cabinjs/cabin) to pino. I am using node-spdy to simulate HTTPS (I am using [node-spdy](https://github.com/spdy-http2/node-spdy) for **HTTP/2** instead of **SPDY**) on localhost.
When I switche

[2020-10-13 12:59] clemenspeters commented on #73
Might `customSuccessMessage` be a solution for you?
Similar to:

`const requestLogger = require("express-pino-logger")({
  logger,
  customSuccessMessage: function (res) {
    return `${res.req.ip} - ${res.req.originalMethod} ${res.req.originalUrl} - ${res.statusCode}`;
  },
});`

[2020-10-14 15:57] DanHulton opened #115 "Push 5.3.20 to npm?"
5.3.20 fixes an issue for me (using regex to omit paths), but it's not yet pushed to npm, so I have to resort to messing around with sources in my package.json to get it.

[2020-10-14 16:48] mcollina commented on #115
@davidmarkclements tagged it wrongly, it's 5.3.0.

[2020-10-14 16:48] #115 closed

[2020-11-04 10:56] dalexanco opened #116 "Missing log on client timeout"
I have an issue : when my client cut the connection (generally because of a timeout), then pino-http does not log anything.

The default behavior of express is to continue the request processing, even if the client has gone, so it could be interesting to have these logs.

A small example :
[code]

**Case 1 : a simple request, no timeout**
[code]
[1604487109825] INFO     (15694 on CM000091.local):

[2020-11-16 22:17] YuriGal opened #118 "Custom properties in Fastify logging"
Not an issue, but rather a request. I am using Fastify (which uses Pino under the hood for logging) and would like to add custom request properties to the log whenever something like `req.log.info(...)` is called. I assumed `reqCustomProps` should be used for that, but can't seem to wire it properly. Would it be possible to provide an example of adding custom properties to Fastify logging?

[2020-11-17 06:09] mcollina commented on #118
Fastify has its own adapter for http logging and it does not use this module.

[2020-11-17 06:09] #118 closed

[2020-12-16 10:04] giovanni-bertoncelli commented on #73
I'd like to have that too... The `pino-http-print` does not work for me...
I'll adopt the @clemenspeters solution but it will be a better if I can have req and res already serialized as parameters there (there is no way to access responseTime in the `customSuccessMessage` function...).

This solution is actually a workaround and if I want to have only that message I have to put req and res to null

[2021-01-25 17:31] josh-hemphill opened #119 "Add res properties to custom props"
The function `reqCustomProps` only has access to the `req` object, but best practice is to store data scoped to the request in `res.locals`, to which there is no access in `reqCustomProps`.
Does `res.locals` automatically get logged?
If not I'd be happy to open a pull request as it seems like by either just adding the `res` parameter to the function, or adding another similar function named approp

[2021-01-29 10:22] mcollina commented on #119
Go for it!

[2021-01-29 17:23] muuhoffman commented on #60
One solution I can think of is to use a custom serializer for development. You would just check your environment for whether you're in development or not and then change the serializer to only include minimal info.
[code]

[2021-01-29 17:32] muuhoffman opened #120 "Log at the beginning of the request"
For human readable logs I think it makes sense to have a log at the beginning of the request and at the end so it's easy to see in the logs what happens between the start and end of the request. Right now I'm accomplishing it by doing this:
[code]
  However, this method doesn't exclude routes from my `ignorePaths`, so it seems like this would be pretty nice to just have a function or something in

[2021-01-31 16:41] #119 closed

[2021-02-01 19:51] Hongbo-Miao commented on #112
On second thought, I have switched to http instead of https for local dev. Instead, I am using NGINX or similar solutions as gate. This way is more close to production.

Close as I feel not needed. Thanks!

[2021-02-01 19:51] #112 closed

[2021-03-21 00:12] kenptr opened #124 "[serializers] Merging fields "req" and "res" into one when printing"
Hi, great work on this project!

I want to print logs to GCP Stackdriver in this format https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry#httprequest

[code]

As you can see, both `res` and `req` values should be in one field. I tried some experimenting and reading the `pino-http` source code, but couldn't do it. Is it possible or if not, can we add support for it?

I also notice

[2021-03-21 00:16] kenptr commented on #124
oh, I think I was tired. There is a way :) I'll close this

[code]

[2021-03-21 00:16] #124 closed

[2021-03-29 19:13] rstoermer commented on #73
Any updates on this? A meaningful message including the requested URL and reponse time should be a must

[2021-04-10 06:29] laSinteZ opened #125 "[proposal] Document `logger` field + add it to API"
In the documentation, it is noted that there's an option "logger" which can be passed

However, it is not entirely correct: according to the code, pino instance isn't reused, but a child is created from this instance. This way, for example, it is not possible to change log level in the runtime. (since changing log level on the "root" instance doesn't change the child's log level). Also, there's no

[2021-04-10 21:29] mcollina commented on #125
Go ahead with the PR!

[2021-07-22 06:37] sl-ffx opened #144 "bindings.serializers is deprecated since pino 6.13.0 (warning)"
pino-http prints following warning if you are using pino 6.13.0
[code]

In pino 6.13.0 they added a `childOptions` for the [pino.child](https://github.com/pinojs/pino/blob/master/browser.js#L116) method and added a warning for using `serializers` in the first argument. If you are using the default options for pino-http the warning appears because of [these lines](https://github.com/pinojs/pino-htt

[2021-07-22 09:02] #144 closed

[2021-07-26 08:34] Milad opened #147 "Warning: bindings.serializers is deprecated, use options.serializers option instead"
It seems that `pino-http` is using a deprecated method to wrap the serializes.

Part of the stack trace:
[code]

My usage (from two files actually):

[code]

[2021-07-26 08:41] kibertoad commented on #147
https://github.com/pinojs/pino-http/issues/144 -> same thing?..

[2021-07-26 08:45] Milad commented on #147
Yes, it's the same. And the mentioned fix works. But, it's better to use `pino` as it should be used?

[2021-07-26 08:45] #147 closed

[2021-07-26 08:50] kibertoad commented on #147
@Milad wasn't it fixed in the last version?

[2021-07-26 08:54] Milad commented on #147
It's actually fixed! I haven't seen the latest version. Thanks for letting me know! This one is on me!

[2021-08-17 14:36] pkeuter opened #152 "after updating to 5.6.0, all req and res properties are being logged"
After updating to version 5.6.0, I see every single property in the request and response object when logging which makes the output possibly a bit too verbose. Downgrading to 5.5 resolves the issue.

I think this might be a regression since I don't see any information about this in the changelog.

[2021-08-17 14:44] kibertoad commented on #152
Do you use child loggers?
Wonder if https://github.com/pinojs/pino-http/commit/967f2a69817346778eb0cbb49d7689b6152d4b3c is related.

[2021-08-17 14:45] kibertoad commented on #152
Can you share simple reproduction code?

[2021-08-17 15:17] pkeuter commented on #152
Looks I have been a little too quick blaming pino-http. Sorry about that. After removing node_modules and running `npm install` everything is working fine again.

[2021-08-17 15:17] #152 closed

[2021-08-21 17:11] naseemkullah commented on #107
closed via https://github.com/pinojs/pino-http/pull/153

[2021-08-21 17:11] #107 closed

[2021-08-23 11:36] schealex opened #154 "disable logging of "req" object"
Hi everyone, i've got the problem that my logs still sometimes include the "req" object.
I've configured pinohttp to reformat it to undefined because we have custom props for the relevant information.

Can someone explain how to remove the default log attributes like "req"?

[code]

[2021-08-23 12:05] mcollina commented on #154
I don't think it's possible. I would recommend to avoid this module completely if such a big customization is required.

[2021-08-23 12:08] schealex commented on #154
how would you realise this without pinohttp? Just with pino? and build a custom middleware for the http logging?

I don't understand why it's behaving this way anyways. I still think this might be a bug. In my library with the above config, there is never a req / res in the log. So the config works as expected. But once i include the library in another project, there are req in the log again.

[2021-08-23 12:17] mcollina commented on #154
fork pinoHttp and build it the way you like.

Can you please prepare a running example?

[2021-08-23 12:18] jsumners commented on #154
The point of this library is to add request logging to a HTTP service built on the core `http` API. Removing request logging defeats the point of this module.

[2021-09-08 22:51] samholmes opened #155 "Unable to log `query` nor `params` for request serializers"
[code]

[code]

The `query` and `params` `console.log` output is showing in the terminal, however the fields are not showing up in the final log output. The field `foo` is showing, so this means that `params` and `query` are treated in a special way that is not documented.

[2021-09-09 09:55] mcollina commented on #155
Could you please provide a complete example to reproduce your problem?

[2021-09-09 16:05] samholmes commented on #155
It turns out my problem was a misunderstanding of the API. The serializer functions always expect the value being logged as the first parameter. I was expecting the express request object as it is from a route handler, but instead I got a the “context object” (`this`) of the event handlers for the finish/error events on the request object. In order to access the request object details such as `que

[2021-09-09 16:09] mcollina commented on #155
how would that API look like?

[2021-09-09 16:21] samholmes commented on #155
[code]

The object returned from the `onResFinished` callback would be included in the log which could then be serialized further. The signature of the callback is identical to that of a route handler (very familiar). The name could be even one of `onResponseFinished`, `onRequestFinished`, `onFinished`, or event `logHandler`.

[2021-09-09 16:28] samholmes commented on #155
This could be done by changing:

[code]

Into:

[code]

Here we're going with the name `logHandler` as the field name for the options argument. We'll need to make `onResFinished` close over the `loggerMiddleware` scope so it has access to `req`, `res`, and `err`.

[2021-09-10 13:20] mcollina commented on #155
I don't think we have `req` available at that point.

[2021-09-10 13:46] samholmes commented on #155
loggerMiddleware has req.

[2021-09-10 13:50] mcollina commented on #155
Indeed. The code is written so that we avoid allocating a new closure for each request.

[2021-09-10 18:50] samholmes commented on #155
If memory footprint is a concern, then we could leak the abstraction: Pass a ctx object to the log `logHandler(ctx)` and then allow for a field for making the context object.

[2021-09-10 21:15] mcollina commented on #155
That would still add something somewhere :/.

I'm not sure what @jsumners  thinks, but I'm kind of ok to how this module works now.

[2021-09-11 01:54] samholmes commented on #155
@mcollina I see; so you want to avoid creating any closure whatsoever per request. I'm assuming this is because closures have significant performance implications. Regardless, use of a closure is only an implementation detail. You could get a bit more hacky and just add the `req`, `res`, and `err` objects from the middleware to the event emitter and access these pieces of data from `this` within t

[2021-09-11 02:25] jsumners commented on #155
Honestly, I've never actually used this module. And I haven't really followed the code in this thread. I get the impression there is a misunderstanding of what the module is and how it works, but, again, I haven't really been paying much attention here.

[2021-09-11 08:02] mcollina commented on #155
@samholmes I think your view of what you would like to achieve with this module is quite different from the current scope of it.

I have not used this in a while as well and I would prefer not to significantly change this.

[2021-09-11 20:12] samholmes commented on #155
Fair enough. My only suggestion then is somehow addressing the slight lack of clarity for using the API through documentation. One thing that wasn’t clear at first was that pino-http logged a specific object that could then be changed either through serializer functions or some other handlers. Documenting what exactly this object is would be helpful. 🙂

[2021-09-28 22:26] samleavinWU opened #159 "breaks upon upgrading to pino v7"
Upgrading to pino 7 breaks http logging. After upgrading, the entire `req` object is logged instead of the parsed, cleaned, and formatted data.
to reproduce: `npm i pino@next` and configure pino.

**it is possible i didn't configure pino 7 correctly after install.**

Thanks for all your hard work!

[2021-09-30 13:46] laurenzhonauer opened #160 "bindings.serializers is deprecated warning"
Hello, I am using Pino and get following warning unexpectedly:
`[PINODEP004] PinoWarning: bindings.serializers is deprecated, use options.serializers option instead`

I dont think I'm using the serializers setting at all, so i think this could be a small bug in pino. But maybe there is a problem with my config.

I am using following pino dependencies
`{
    "pino": "^6.13.2",
    "pino-http": "^5.

[2021-09-30 14:36] #159 closed

[2021-09-30 16:25] mcollina commented on #160
A PR to fix would be highly welcomed.

[2021-10-19 14:05] skalfyfan opened #165 "onResFinished err object always undefined when using Express async requests ?"
Using `pino` `7.0.2` and am using `express-promise-router` to handle my express async routes. Am trying to get `pino-http` going to replace `winston`, but am having an issue getting a thrown error object added to the logs. Looking at the `pino-http/logger.js` I believe the error object should be getting logged, unless I'm misunderstanding something.

Barebones example set up:
[code]

When running

[2021-10-19 18:30] skalfyfan commented on #165
If it matters I've been using Node `v16.x.x` for this, but I've managed to replicate it down to `v12.x.x`. Was looking forward to moving away from _winston_ finally but will keep this open, and hopefully someone else can confirm they see the same thing, and/or we discover why this may be happening.

[2021-10-19 22:32] jsumners commented on #165
The issue is that none of the maintainers are Express users. Also, this repository is for `pino-http` which is meant to be used with the Node.js _core_ `http` module. So it's unclear why Express would even be a factor in this issue tracker. Regardless, given our lack of knowledge about Express, we can only help you help yourself. Have you stepped through the issue with the debugger?

[2021-10-20 01:23] jsumners commented on #165
I don't think so. To my knowledge, Express doesn't support promises and any module adding them is a hack at best.

[2021-10-20 02:11] skalfyfan commented on #165
Duly noted, and time to move to Fastify I suppose. We can close this then.

[2021-10-20 02:11] #165 closed

[2021-10-20 09:53] triqi opened #166 "Use a different level for error logs and use 'error' as the default"
When logging errors, it is useful to use the `'error'` level to output instead of `'info'`.
- Separate error level from the normal output.
- Use `'error'` as the default value.

[2021-10-20 10:07] #166 closed, assigned to nobody

[2021-10-23 12:09] mcollina opened #169 "Update to pino@7"
As titled

[2021-10-31 16:47] kirillgroshkov commented on #5
What worked for me (I needed to only delete `cookie` from headers, not the whole headers):

[code]

[2021-11-02 19:48] ryan-efendy opened #173 "How to log response body?"
How to use the serializer to log the response body? Can you share an example?

[2021-11-02 21:02] mcollina commented on #173
I'm sorry but I do not have time :(. You should not log your bodies for both security and privacy of your users.

[2021-11-03 01:04] naseemkullah commented on #173
@ryan-efendy  After considering @mcollina's advice, if you still want to and are using express you need something like https://github.com/richardschneider/express-mung to add the res body to the res object, then configure a serializer similar to the one for req body here https://github.com/pinojs/pino-http/pull/76/files

[2021-11-03 06:12] #173 closed

[2021-11-03 18:56] rstrand opened #175 "Pino 7 TypeScript"
Now pino 7 is including TypeScript types, would it make sense to include TypeScript types in this package as well? The types in DefinitelyTyped for this package don't work with the pino 7 types.

[2021-11-03 20:43] mcollina commented on #175
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

cc @kibertoad

[2021-11-09 16:15] sameer-coder commented on #160
I can't reproduce this issue 🤔

[2021-11-09 16:21] exarus commented on #160
@sameer-coder I think it's already fixed by updating to pino v7

[2021-11-09 16:26] #160 closed

[2021-11-10 16:49] rstrand commented on #175
I don't have any experience adding types to a project. Would it be acceptable to copy the types from definitely typed and fix the errors?

[2021-11-18 08:53] gkampitakis commented on #175
Hello 👋 are there any updates on this issue? Are types going to be included in `pino-http`? I wouldn't mind trying and start a pr with your help

[2021-11-18 09:12] mcollina commented on #175
A PR would be nice.

[2021-11-18 14:28] jarcodallo commented on #175
Hi @mcollina, I opened a PR with the type definition. let me know what do you think. 🚀

[2021-11-24 10:28] Eomm commented on #169
This can be closed

[2021-11-24 11:17] #169 closed

[2021-11-25 10:26] #73 closed

[2021-11-26 11:26] oddeirik commented on #175
Am I missing some required changes after the typings now being included in the package itself?

The IncomingMessage declaration for a 'req' property is missing in types now, which means TS will complain about doing `req.log.info()' in Express handlers/middleware.

This module declaration was included in the typings from @types/pino-http, but does not exist in the typings included in pino-http itse

[2021-11-26 19:30] kibertoad commented on #175
@oddeirik Would you like to send a PR to fix this?

[2021-11-30 17:15] umarov commented on #175
https://github.com/pinojs/pino-http/pull/184 I think this one "removed" some PinoHttp.Options from types. They aren't being merged properly. I am using NestJS Pino Logger and using the redact option. It was yelling at me once I upgraded to the latest version. Moving back to `6.3.0` fixed it. I haven't figured out how that PR could have broken the types. I need to take a look again and see if I can

[2021-11-30 17:27] jarcodallo commented on #175
Yeah. I'm working on a fix for this in nestjs-pino, but first I need #188 merge into master

[2021-12-03 14:18] jarcodallo commented on #175
@umarov I open a PR in [nestjs-pino](https://github.com/iamolegga/nestjs-pino/pull/699) to fix the problem.

[2021-12-07 11:05] filoscoder opened #190 "How to ignore autoLogging by statusCode or res?"
I'm trying to use `autoLogging` conditionally by `res.statusCode` without success.

It would be great if something like this would be available:

[code]

[2021-12-07 12:46] jsumners commented on #190
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-12-08 04:26] filoscoder commented on #190
I think this [PR](https://github.com/pinojs/pino-http/pull/113) is very handy for what I need to achieve.

I really like the autoLogging feature with serializers, but I don't want making this super fast logger keep logging statusCode 200, I just want to see the 400 <= codes to have evidence and hints for debugging my server.

[2021-12-08 05:03] filoscoder commented on #190
Please take a look @jsumners

https://github.com/pinojs/pino-http/pull/191

[2021-12-10 23:46] #190 closed

[2021-12-16 13:58] grahamlyons commented on #61
This issue helped me to find why I wasn't getting a stack trace from errors thrown in Express but I didn't see where this API was documented in pino-http. That would be really useful.

[2022-02-05 20:49] bfsmith commented on #154
This is very easy to do.
[code]

[2022-02-05 21:08] #154 closed

[2022-02-27 21:35] francisdb commented on #120
There is `customReceivedMessage` that was added in #177

https://github.com/pinojs/pino-http#pinohttpopts-stream

[2022-02-27 21:39] francisdb opened #199 "Logging responseTime in the message"
## Use case

We want to log request time in the log message

## Code

[code]

we are looking for something we can put at `???`

## Context

Of course we want this responseTime to be the same as what is added in the log context

https://github.com/pinojs/pino-http/blob/5be1d8d9002f3ea9f4588dcd96826c7554e799c4/logger.js#L117-L119

As far as I can see this is not available in the context of customErr

[2022-03-02 23:42] mcollina commented on #199
I don't understand this issue, could you please clarify?

[2022-03-03 09:12] francisdb commented on #199
Should indeed have done a better job describing the issue, I edited the description.

[2022-03-03 09:36] mcollina commented on #199
Good spot! Would you like to send a PR?

[2022-03-03 14:44] francisdb commented on #199
How do you see this passed to `customSuccessMessage` function? Some kind of extra context object argument?

[2022-03-13 05:38] risto24 opened #204 "What is the difference between pino and pino-http?"
My perception is that pino-http is the appropriate choice when using the express framework.
So, is pino unnecessary when using pino-http?

[2022-03-13 08:02] mcollina commented on #204
pino-http uses pino underneath.

[2022-03-13 08:02] #204 closed

[2022-04-08 17:51] trevorr opened #208 "Access request object from customSuccessMessage/customErrorMessage"
Is it possible to access the request object from `customSuccessMessage` and `customErrorMessage`? For example, I'd like my success message to look like `HTTP <method> <path> <status> <response time>`.

Currently, only the response is provided to those functions. Internally, the response is linked to the request via an unexported symbol property, so I don't think it can be used by the provided func

[2022-04-08 18:25] trevorr opened #209 "pino should be a peer dependency"
I think pino should be a [peer dependency](https://nodejs.org/es/blog/npm/peer-dependencies/) (and [also a dev dependency](https://betterprogramming.pub/understanding-dev-peer-and-regular-dependencies-in-javascript-f4090621c7a7#:~:text=you%20also%20must%20include%20it%20in%20your%20devDependencies%20section)) of pino-http. I'm trying to use a pre-release version of pino, but since pino-http has a

[2022-04-08 18:32] mcollina commented on #209
peerdependencies do not work well across all package managers. Specifically npm v6 has a significantly different behavior than npm v8 and yarn.

[2022-04-08 18:37] trevorr commented on #209
That's a little vague. Are there specific problems or scenarios you're worried about? Peer dependencies were created in npm 1 for this exact scenario. The behavior did change a bit in npm 7+ (to automatically install peer dependencies if the consumer didn't), but that seems like a good thing. I'm having (temporary) difficulty using this package due to the direct dependency.

[2022-04-08 18:39] trevorr commented on #209
FWIW, peer dependencies are also widely used in the react ecosystem across many npm and yarn versions. I've never run into any issues there.

[2022-04-08 19:20] jsumners commented on #209
They cause tremendous issues when not installing as a hoisted flat `node_modules` tree. Even then, they cause difficult problems.

[2022-04-08 19:25] trevorr commented on #209
I'd love to learn from your experiences here. Can you be more specific? Googling for things like "peerDependencies problems" isn't yielding much.

[2022-04-08 19:54] jsumners commented on #209
Let's say you have a package `foo` that depends upon `bar` which itself has a peer dependency of `baz`. So you write `foo` such that it has direct dependencies on `bar` and `baz`. All is good, you ship.

Now you write an application that uses `foo`, but also uses `baz` in its test suite. Depending on how `bar` looks for `baz`, it's very likely that `bar` will not be able to find `baz` because it h

[2022-04-21 21:19] tsheaff opened #212 "Fatal type inconsistency in `pino-http` when installing `@types/koa-pino-logger`"
I get the following error from this package's type declarations:

[code]

Here are my `package.json` dependencies:

[code]

And here's my `tsconfig.json`

[code]

So it seems the type defined in `pino-http` directly, is inconsistent with the types declared in `@types/pino-http`, when installing the latest version of `@types/koa-pino-logger`

cc @mcollina @jsumners @davidmarkclements

[2022-04-21 21:25] jsumners commented on #212
Please do not "cc" people unnecessarily. We get notifications about issues filed here.

[2022-04-21 21:43] mcollina commented on #212
We do not maintain any of the definitelytyped types. You should probably report this to them.

[2022-04-21 21:43] #212 closed

[2022-04-21 21:50] tsheaff commented on #212
Thanks @jsumners will not in future.

@mcollina you're saying the types are entirely maintained by people not associated with the `pinojs` org?

[2022-04-24 18:48] k2snowman69 opened #213 "Types missing for `Options.customProps`"
The option `customProps` is defined here:
https://github.com/pinojs/pino-http/blob/master/README.md?plain=1#L110

However is missing in the Options object
https://github.com/pinojs/pino-http/blob/master/index.d.ts#L35

[2022-04-24 19:20] mcollina commented on #213
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-04-27 21:32] #208 closed

[2022-04-30 10:05] salesh commented on #213
It's resolved in https://github.com/pinojs/pino-http/pull/211/files

[2022-05-04 09:46] #213 closed

[2022-05-05 16:36] Spence-S opened #216 "customProps always logs duplicate keys"
I am working with google cloud logging and it doesn't play nicely with the duplicate keys:

[code]

For instance:
custom props cause the following log:
`"{ "httpRequest": {"method":"GET"},"httpRequest": {"method":"GET"}}"`

ends up in stackdriver/google cloud logging looking like:
`{httpRequest: { method: 'GETGET' }}`

[2022-05-06 15:56] mcollina commented on #216
Can you include what you are trying to achieve? The snippet is not enough.

[2022-05-06 16:02] Spence-S commented on #216
- I want to use `customProps` to add the httpRequest object for google cloud logging
- I want to avoid the [duplicate keys problem](https://github.com/pinojs/pino/blob/master/docs/child-loggers.md#duplicate-keys-caveat)
- I do NOT want to use a transport to format or clean up the keys

Currently, any usage of `customProps` causes duplicate keys of whatever is added there because of this PR. https:

[2022-05-06 16:19] mcollina commented on #216
Your usecase is a bit far from mine.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-09 14:42] Spence-S commented on #216
I took a look at this over the weekend, and unfortunately I couldn't come up with a quick solution that doesn't cause unit tests to break. This one may require some time/care to fix correctly and maintain all current behavior.

In order to pass the correct (final) res.statusCode to the customProps bindings and have the bindings in logs on `req.log` and `res.log` we do need to have the bindings app

[2022-05-16 18:35] naseemkullah opened #217 "deprecate autoLogging.ignorePaths / autoLogging.getPaths in favor of autoLogging.ignore?"
`autoLogging.ignore` can ignore by any req prop, including but not limited to `url`/`originalUrl`, as such should we deprecate `autoLogging.ignorePaths` / `autoLogging.getPaths`  or consider these to be convenience options?

[2022-05-18 08:11] mcollina commented on #217
That'd be great, would you like to send a PR?

[2022-05-20 16:31] naseemkullah commented on #217
Sure, #218 opened, PTAL

[2022-05-24 13:39] #217 closed

[2022-06-08 11:32] santicalcagno opened #224 "`useLevel`/`customLogLevel` won't use levels defined in `customLevels`"
Using the following example server:

[code]

If I run `curl localhost:3000` these are the output logs I get:
[code]

I was expecting the last line to have a level of 31. The same happens if `customLogLevel: () => 'request'` is defined instead of `useLevel`, and if an instance that's been reused has the level instead.

Yesterday I was able to fix this locally, but I wanted to open an issue before w

[2022-06-14 08:22] #224 closed

[2022-06-14 08:37] mcollina opened #228 "Remove PINOHTTP_DEP001 and PINOHTTP_DEP002"
Their time is overdue and the deprecated functionality should be removed.

[2022-06-14 09:22] Puppo commented on #228
Hi @mcollina,
Can I help you with this?

[2022-06-14 09:46] mcollina commented on #228
Go for it!

[2022-06-21 05:21] Simon-Campbell opened #234 "Double up of 'success' messages"
# Summary
I have upgraded from 6.6.x to 8.0.1.

https://github.com/pinojs/pino-http/compare/v6.6.0...v8.0.1

All seems to be going ok, but I observed the following PR (https://github.com/pinojs/pino-http/pull/219) seems to have added an extra listener. This seems to be causing some double ups in 'success' message logging.

The situation I am using this for is to have clear start/end markers on req

[2022-06-21 07:09] mcollina commented on #234
Thanks for reporting!

Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-06-22 16:09] manvydasu opened #235 "[Proposal] support for quietResLogger (similar to quietReqLogger) - log full bindings at start of request instead at the end."
It's currently hard to implement following behavior with pino-http:

1. Log request **with headers, url, request params and other required info.**
2. Process request and call `log` multiple times during the scope of request. **Request params, headers, etc.. should NOT be included in these logs.**
3. Log response. **Request params, headers, etc... should NOT be added to this log.**

It seems like w

[2022-06-22 16:31] mcollina commented on #235
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-06-28 06:40] holzerch commented on #234
I have the exact same problem after upgrading from 7.0.0 to 7.1.0 when PR https://github.com/pinojs/pino-http/pull/219 was released. As a result the `onResFinished` function is called twice. Once for the `finish` event and once for the `close` event.

I tested this with node 14 and 16 and koa 2.13.0 integrated as middleware.

[2022-06-28 06:47] Simon-Campbell commented on #234
I attempted to create a Docker image reproducing this but failed to do so. I tried with express + node14... my actual application is built on NestJS, but I am a bit time poor at the moment to push my repro any further.

Interesting to note that you had the same issue with a different Node version + different framework.

[2022-06-28 07:33] holzerch commented on #234
These are the call stack for the 2 calls to onResFinished when debugging and having a breakpoint at the beginning of the function:

First:
<img width="298" alt="image" src="https://user-images.githubusercontent.com/38455621/176118654-22488b5a-5cd8-48c7-bafd-1e6ecf35c721.png">

Second:
<img width="308" alt="image" src="https://user-images.githubusercontent.com/38455621/176118737-723f57c4-aae6-47b8-

[2022-06-28 07:43] Simon-Campbell commented on #234
Hmm, could be. I am using the same library in my application.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Christian Holzer ***@***.***>
Sent: Tuesday, June 28, 2022 7:33:23 PM
To: pinojs/pino-http ***@***.***>
Cc: Simon Campbell ***@***.***>; Author ***@***.***>
Subject: Re: [pinojs/pino-http] Double up of 'success' messages (Issue #234)

I have the exac

[2022-06-29 05:33] Simon-Campbell commented on #234
@holzerch With your information I have updated my repro steps to simply add cls-rtracer-- it breaks just by simply adding it the middleware! I am not strong enough in this space to understand which library (if any) is broken.

At this point, I might have to simply downgrade and backport some functionality patches on a fork of pino-http. This isn't desired state for me

The other option is: could w

[2022-06-29 09:58] mcollina commented on #234
I don't understand why you are asking for pino-http to work around a bug in cls-rtracer.
Open an issue there and ask them to fix the bug. My two cents are on this file: https://github.com/puzpuzpuz/cls-rtracer/blob/2745858bc2728d6c54cd05afd36d4be3c357a8f6/src/util.js#L6.

I think @puzpuzpuz would be happy to take a look.

[2022-06-29 10:00] #234 closed

[2022-07-27 21:00] sethtomy commented on #5
For those coming to this as I did, please be aware that the serializer will mutate the incoming request.

If your intention is to only remove from the logs:

[code]

[2022-08-01 13:37] sethtomy opened #241 "Pino Redact does not work with Pino HTTP customAttributeKeys."
I currently am using pino-http to map to an ECS format with . When doing so though my redactions are not taking place.

[code]

[2022-08-01 19:51] mcollina commented on #241
Thanks for reporting!

Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-08-01 20:05] sethtomy commented on #241
Hey @mcollina, glad to help! It's quite small to reproduce so I'll post here. If it's too much trouble I'm more than happy to put in a repo as well, just lmk.

[code]

[code]

[2022-08-01 20:08] sethtomy commented on #241
^ Not sure if it helps but using the pre "customAttributeKeys" path does not redact either.

[2022-08-02 10:17] mcollina commented on #241
I'm not using this module.. if you'd like this fixed I'd love to review a PR.

[2022-08-02 11:04] jamyouss commented on #216
I have the same issue.

Couldn't we just remove the `customPropBindings` on the `loggingMiddleware`

    if (customPropBindings) {
      fullReqLogger = fullReqLogger.child(customPropBindings)
    }

This will be done on the `onResFinished` function. I tested it quickly and it work.

The only question i have is, does the function `onResFinished` called on 100% use cases ?
Like on network failure,

[2022-08-28 16:22] robertrossmann opened #243 "Incorrect types for exported `stdSerializers`"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `pino-http@8.2.0` for the project I'm working on.

I noticed that the serialiser types are not correct, the types refer to the serialised data structures the serialisers should produce, not to the functions themselves. The actual code values exported in the plain J

[2022-08-29 07:49] mcollina commented on #243
Thanks for reporting! Would you like to send a Pull Request to address this issue?

[2022-08-29 07:51] robertrossmann commented on #243
Hi @mcollina ! Unfortunately I am currently super busy on a customer project, that's why I decided to at least submit an issue with the patch. 😢 🤷‍♂️

[2022-09-16 21:36] ajfranzoia opened #245 "Multiple streams"
Is it possible to utilize multiple output streams? I need to log to the console and at the same time to GCP Stackdriver.
I was using `pinoms` but it's no longer supported.

This is the configuration I was using for the previous version:

[code]

[2022-09-17 14:56] mcollina commented on #245
Multistream is now backed in pino itself.

[2022-09-17 14:56] #245 closed

[2022-09-17 22:35] ajfranzoia commented on #245
@mcollina well, pino creators say that this is an issue with `pino-http`, see https://github.com/iamolegga/nestjs-pino/issues/748#issuecomment-1004091408

[2022-09-20 14:02] thomas-yaa opened #247 "Type incompatibility after upgrading pino to 8.6.0"
Upgraded pino to latest release, 8.6.0 in a project using Next.js, pino, and pino-http.

A test that assigns the `log` field on a `NextApiRequest` as part of its setup now fails with the following error:

`Type 'Logger<LoggerOptions | DestinationStream>' is not assignable to type 'LoggerExtras<LoggerOptions>'`

I tried to use a mock instead and still encountered the error.

[2022-09-21 13:10] hanieljazzar opened #248 "Hide the default request completed log"
Hello, please is there a way to hide the default log on request complete that prints "request completed"? Couldn't find it in the docs. Thanks

[2022-09-21 13:12] hanieljazzar commented on #248
Nevermind found it. Apologies for that

[2022-09-21 13:12] #248 closed

[2022-09-21 15:37] mmataciertocom commented on #216
Same issue here, any solutions?

[2022-09-24 07:04] mcollina commented on #247
Thanks for reporting!

Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

cc @kibertoad for his TS experi

[2022-09-27 00:19] adarnon opened #249 "customProps should allow returning a Promise"
We are using Pino together with Next.js and `iron-session` for authentication. We've been using the `customProps` function in order to populate log messages with context information about the user, etc.

Iron session recently released a major version in which `getIronSession()` now returns a Promise. Since `customProps` can only return an `object`, fetching information from our iron session in tha

[2022-09-27 00:58] jsumners commented on #249
No, there is no plan for that. It was add a significant amount of overhead.

[2022-09-27 05:12] #249 closed

[2022-09-27 11:07] alexedwardjones commented on #209
I'm having similar issues with `pino` not being a peer dependency. Using yarn pnp it just errors.

[code]

[2022-09-27 12:07] jsumners commented on #209
Please file your issue with `nestjs-pino`. We do not maintain that library.

[2022-09-28 08:39] #209 closed

[2022-09-28 14:35] jose-sal-y-rosas commented on #216
Yeah. I can reproduce in pino-http.

Here an example:

File: pino-config.ts
[code]

Then, with pino-http:

File: logger.middleware.ts
[code]

Injecting middleware in express app:
[code]

Output:
<img width="832" alt="image" src="https://user-images.githubusercontent.com/79485819/192806153-4d8a3b6e-3508-4ce6-b21d-810eb03623e6.png">

As you can see: "hola", appears twice.

[2022-09-28 15:42] mcollina commented on #216
This is because `customProps` is called twice:

1. https://github.com/pinojs/pino-http/blob/3361ced517772b18087c49cb7f32b44e779179ce/logger.js#L107-L110
2. https://github.com/pinojs/pino-http/blob/3361ced517772b18087c49cb7f32b44e779179ce/logger.js#L144-L147

I think https://github.com/pinojs/pino-http/pull/197 had a bad bug we didn't see at the time.
I think we should have have https://github.com/

[2022-09-28 17:50] jose-sal-y-rosas commented on #216
@mcollina I don't see a way to build an artifact and test all changes in my local. No information in the README.md or ci.yml, please could you provide the steps to test in my local and see the expected result? I am following these steps (https://dev.to/scooperdev/use-npm-pack-to-test-your-packages-locally-486e) to link the dependency and test.

[2022-09-29 04:50] mpartel commented on #216
Workaround: use a `WeakSet` to keep track of requests that have already been through `customProps`.

[2022-09-29 09:52] mcollina commented on #216
https://www.freecodecamp.org/news/how-to-make-your-first-pull-request-on-github-3/#:~:text=Go%20to%20your%20repository%20on,Congratulations!

To make the changes, run `npm install` to install the dependencies, and `npm test` to run the tests.

[2022-09-29 12:21] jsumners commented on #216
https://jrfom.com/posts/2017/03/08/a-primer-on-contributing-to-projects-with-git/ if you need another resource.

[2022-09-29 13:25] Spence-S commented on #216
@mcollina if I remember correctly, you can't just remove one of the bindings - it causes a lot of other things to break and then you don't have the custom bindings in normal calls to `res.log.method()`

@mpartel had an interesting idea of using a `WeakSet` to conditionally apply the custom bindings in both places, but ensure that they are only applied once per response cycle.

[2022-09-29 14:38] mpartel commented on #216
To be clear, I'm just suggesting `WeakSet` as a temporary workaround for users. It doesn't sound like a clean solution for the library, and it might even have some performance implications (I don't know how it affects the GC).

[2022-09-29 14:56] Spence-S commented on #216
@mpartel thanks for clarifying. I'm not well versed in the application of `WeakSet`. Mind sharing how you implement the workaround to avoid the issue? It's not immediately obvious to me.

[2022-09-30 18:41] Eji4h opened #250 "GenReqId interface does not have `res` specified resulting in typescript error"
GenReqId interface does not have `res` specified resulting in typescript error

_Originally posted by @MrTalon63 in https://github.com/pinojs/pino-http/issues/240#issuecomment-1250154095_

[2022-10-01 10:11] mcollina commented on #216
We should really split `customProps` into two functions, not one.

[2022-10-02 10:22] #250 closed

[2022-10-02 10:54] #199 closed

[2022-10-13 06:58] manvydasu commented on #247
Hey @mcollina

I've noticed the similar behavior after upgrading to latest `pino` and `pino-http`, but not sure if the usage is incorrect, but after upgrading to latest pino and pino-http such code no longer works. (Logger and ChildLogger can not casted to same type)

[code]

And then the error looks like this:

`TS2322: Type 'Logger<LoggerOptions & ChildLoggerOptions>' is not assignable to type '

[2022-10-14 16:49] dasaco opened #254 "Log debug logs only on when at least one error logged in request"
Hello, thank you for this great library.

I was wondering is it possible to log debug logs only when error log was triggered in **request**? For example if in production debug logs would be present it would help developers, but we wouldn't want to log them all the time as they are useless if request did not fail.

From what I saw it is not possible currently as logs are not buffered, but logged im

[2022-10-14 20:05] mcollina commented on #254
Thanks for reaching out. Unfortunately it's not a responsibility of this library to do it as this just instrument the server. However creating this behavior would be an amazing transport

[2022-10-14 20:28] dasaco commented on #254
Thanks for a quick reply Matteo, yes that makes sense.

[2022-10-14 20:28] #254 closed

[2022-10-17 09:41] ilari-makimattila commented on #216
Hello, I just bumped into this and sadly don't have the time to do a PR but I have a case where the first call will happen with a Request object that has not yet fully gone through the pipeline. I wanted to log the matched expressjs route and the current user user id, and in order to do that I had to do something like:
[code]
If I used the values from the first call they would always be `route: "/

[2022-10-17 13:01] manvydasu commented on #247
@thomas-yaa
The issue resolved for me after upgrading typescript to latest version (4.6 -> 4.8.4)

[2022-10-19 18:42] RohitRox commented on #241
I had a same use case. I think you need to pass `pino` logger instance with redact options to `pino-http`

This is what I have thats working for me for an express based server

[code]
You can just update the path `req.headers.authorization` with your path `http.request.headers.authorization`

[2022-11-01 18:27] mcollina commented on #247
cc @kibertoad

[2022-11-04 15:12] sethtomy commented on #241
@RohitRox thank you for responding. Unfortunately that does not seem to work in combination with "customAttributeKeys".

@baterson that works perfectly! If you don't mind, for my curiosity, I'm interested in how that's working. A took ~ an hour to look into the issue myself but Streams unfortunately are not my strong suit (I need to learn :)) How is the dot notation for 'http.request.headers.autho

[2022-11-16 19:00] htadeusiak opened #257 "Debug fn not working"
Hey guys,

Appreciate all the work on the library. I'm currently trying to use the 'req.log.debug()' log function that is provided in the 'pino' package. However, this function doesn't end up logging anything when used from the 'pino-http' package. The I can use 'info()' to log information, but I want to be able to use the "debug" level in my code.

Is this intended functionality or a bug? I looke

[2022-11-16 19:02] jsumners commented on #257
Is what a bug? What have you tried? Is it producing an error?

What documentation are you referring to?

[2022-11-16 19:18] htadeusiak commented on #257
When I call `req.log.debug("test")` absolutely nothing is logged. It is as if I just never called anything, the line is as good as being commented out.

However, when I call `req.log.info("test")` I get the expected object logged to my server with  the fields `req`, `req.id`, `msg`, etc.

In the `pino` library, they support a `debug()` function that logs when level is `debug`.

So is the fact that

[2022-11-16 19:20] jsumners commented on #257
https://getpino.io/#/docs/api?id=level-string is appropriate. I do not know where you found `useLevel`.

[2022-11-16 19:27] htadeusiak commented on #257
Oh that's why lol. Can you guys please update your docs here: https://github.com/pinojs/pino-http#api

I was only looking at the the API for `pino-http`. I know its level for `pino` and thought it was weird you guys had it documented as something else for `pino-http`

[2022-11-16 19:29] jsumners commented on #257
https://github.com/pinojs/pino-http/blob/112e2eb2297e30516248684a29ee0658a5cc8b30/README.md?plain=1#L94

What else are you wanting to see?

[2022-11-16 19:34] htadeusiak commented on #257
Yup I see it now, honestly skipped over it as I thought that all options would be listed in the bullet points.

I would have probably been less likely to miss it if it was the first listed bullet point, but think its fine as is.

Thank you!

[2022-11-16 19:34] #257 closed

[2022-11-21 06:31] vikaspotluri123 commented on #228
@mcollina now that #229 is merged, can this be closed?

[2022-11-21 06:49] #228 closed

[2022-11-21 06:49] mcollina commented on #228
good spot, thanks!

[2022-11-23 21:05] jtokoph commented on #5
Note that something like `delete r.headers['cookie']` will remove the cookie from the request. It's generally safer to have the serializer return a new object for a couple reasons:

- A pure function that doesn't mutate it's input is more likely to be safe and correct.
- Redacting/blocklists will almost always result in leaked data. For example, you might redact the `cookie` header, but a user of

[2022-11-29 09:07] mmadson opened #260 "Multiple middleware instances with different redact config"
- Create 2 pinoHttp loggers with different redact configs.
- Attach both middleware to express app

Expected: 2 log entries with different redactions
Actual: 2 log entries with the same redactions

I think this is because the logger variable of the loggingMiddleware function is shared across multiple instantiations of the middleware. It would be good if we can have separate logger instances for ea

[2022-11-29 12:59] jsumners commented on #260
It seems like you are passing `opts = { logger: pino() }` to both instances. Otherwise, a unique instance is created each time at https://github.com/pinojs/pino-http/blob/112e2eb2297e30516248684a29ee0658a5cc8b30/logger.js#L202

[2022-11-29 18:36] mmadson commented on #260
That was my expectation as well, however my config does not specify a pino logger in the opts:

[code]

  I think the culprit is this line:

  https://github.com/pinojs/pino-http/blob/master/logger.js#L88

Which assigns the logger (either a new logger or the opts logger) to a property of the loggingMiddleware function which if I'm not mistaken is shared between multiple pino-http middlewares.

[2022-11-29 19:32] jsumners commented on #260
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-11-30 09:19] mmadson commented on #260
@jsumners Sure, I believe I have a fix and unit tests ready locally, I just need to check on my employer's OSS contribution policies.

- Am I correct in assuming I should be targeting my changes for the main branch?
- Assuming my changes are acceptable, how quickly do you think we might be able to cut a release?

[2022-11-30 13:29] jsumners commented on #260
Yes.

As quickly as maintainers are able to review, accept, and manage the changes.